@charset "UTF-8";

/* link 의 코드가 많아지면 복잡하기 때문에 import로 추가해 사용 */
@import "reset.css";


/* EN Font */
@font-face {
    font-family: "Hankook_B";
    src:  url('../fonts/HankookTTFBold.eot') format('embedded-opentype');
    src:  url('../fonts/HankookTTFBold.ttf') format('truetype');
    src:  url('../fonts/HankookTTFBold.woff') format('woff');
    src:  url('../fonts/HankookTTFBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Hankook_L";
    src:  url('../fonts/HankookTTFLight.eot') format('embedded-opentype');
    src:  url('../fonts/HankookTTFLight.ttf') format('truetype');
    src:  url('../fonts/HankookTTFLight.woff') format('woff');
    src:  url('../fonts/HankookTTFLight.woff2') format('woff2');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: "Hankook_M";
    src:  url('../fonts/HankookTTFMedium.eot') format('embedded-opentype');
    src:  url('../fonts/HankookTTFMedium.ttf') format('truetype');
    src:  url('../fonts/HankookTTFMedium.woff') format('woff');
    src:  url('../fonts/HankookTTFMedium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* KR Font Regular*/
@font-face {
    font-family: "Hankook_R_KR";
    src:  url('../fonts/HankookKRTTFRegular.eot') format('embedded-opentype');
    src:  url('../fonts/HankookKRTTFRegular.ttf') format('truetype');
    src:  url('../fonts/HankookKRTTFRegular.woff') format('woff');
    src:  url('../fonts/HankookKRTTFRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}  


html {
    scroll-behavior: smooth;
}


body {
    font-family: "Hankook_M", sans-serif, 'Nanum Gothic';
    background: #eee;color: #222;
}


/* wrap ---------- */
.wrap{
    display: flex;flex-direction: column;
}


/* header Area ---------- */
header{
    width: 100%;
    height: 200px;
    z-index: 1000;
}
header .inner {
    margin: auto;
    width: 100%;
    max-width: 800px;
    height: 100%;
}
header .inner a h1{
    font-family: "Hankook_B";
    font-size: 32px;
    position: absolute;
    color: #222;
    line-height: 200px;
}
header .inner a h1:hover{
    color: #999;
}
header .inner a h1 span{
    font-family: "Hankook_M";
    font-size: 18px;
}
header .inner h1:hover span{
    color: #222;
}

/* fixMenu, scrollContents 부모 컨텐츠 */
.contentsWrap{
    width: 100%;
    max-width: 800px;
    height: 100%;
    display: flex;
    margin: auto;
}

@media all and ( max-width : 900px ) and ( min-width : 800px ){
    header .inner {
        width: 90%;
    }
    .contentsWrap{
        width: 90%;
    }
}


@media all and ( max-width : 800px ) and ( min-width : 400px ){
    .contentsWrap{
        flex-direction: column;
    }
    header .inner a h1{
    }
}


/* menu section area ---------- */
.contentsWrap .fixMenu{ /* flex 사용 적극 권장.. 반응형 쉬워짐 */
    position: sticky;
    top: 100px;
    width: calc(800px * 0.25);
    height: 100%;
    z-index: 1000;
}
.contentsWrap .fixMenu ul{
    display: flex;
    flex-direction: column;
}
.contentsWrap .fixMenu ul li{
    padding-bottom: 15px;
}
.contentsWrap .fixMenu ul li a{
    text-decoration: none;
    color: #222;
    padding-bottom: 10px;
}
.contentsWrap .fixMenu ul li a i{
    margin-left: 50px;
}
.contentsWrap .fixMenu > ul > li > ul > li{
    padding: 10px;
}



/* scroll section area ---------- */
.contentsWrap .scrollContents{
    width: calc(800px * 0.75);
}

.contentsWrap .scrollContents .cont{
    height: 500px;
    width: 500px;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-bottom: 35px;
    float: right;
}
.contentsWrap .scrollContents .cont p{
    line-height: 1.5;
    padding: 10px 25px;
}
.contentsWrap .scrollContents .cont .imgBox{
    width: 450px;
    height: 300px;
    margin-left: 25px;
    margin: 25px 0 0 25px;
}
.contentsWrap .scrollContents .cont .imgBox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}




/* footer area ---------- */