@charset "UTF-8";

/* link 의 코드가 많아지면 복잡하기 때문에 import로 추가해 사용 */
@import "reset.css";

/* fonts <ex> */
@font-face {
    font-family: "NotoSans_b";
    src: url('../fonts/NotoSansKR-Bold.woff2') format('woff2');
    src: url('../fonts/NotoSansKR-Bold.woff') format('woff');
    src: url('../fonts/NotoSansKR-Bold.ttf') format('truetype');
    src: url('../fonts/NotoSansKR-Bold.otf') format('Opentype');
    font-weight: normal;
    font-style: normal;
}



/* header Area ---------- */
header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 200px;
    background: #fff;
    z-index: 1000;
}
header .inner {
    width: 1180px;
    height: 100%;
    margin: auto;
}
header .inner h1{
    font-size: 32px;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-30%, -50%);
}



/* menu section area ---------- */
section.fixMenu{
    position: fixed;
    left: calc((100% - 1180px) / 2);
    top: 200px;
    width: calc(1180px * 0.2);
    height: calc(100vh - 200px);
    background-color: aliceblue;
    z-index: 1000;
}

section.fixMenu nav{
    position: absolute;
    left: 0;
    top: 200px;
}





/* scroll section area ---------- */
section.scrollContents{
    position: absolute;
    top: 200px;
    width: calc(1180px * 0.8);
    right: calc((100% - 1180px) / 2);
}

section.scrollContents div{
    height: 500px;
}

.cont1{
    background-color: red;
}
.cont2{
    background-color: orange;
}
.cont3{
    background-color: yellow;
}
.cont4{
    background-color: green;
}
.cont5{
    background-color: blue;
}






/* footer area ---------- */