@charset "UTF-8";

/* link 의 코드가 많아지면 복잡하기 때문에 import로 추가해 사용 */
@import "reset.css";


/* EN Font */
@font-face {
    font-family: "Hankook_B";
    src:  url('../fonts/HankookTTFBold.eot') format('embedded-opentype');
    src:  url('../fonts/HankookTTFBold.ttf') format('truetype');
    src:  url('../fonts/HankookTTFBold.woff') format('woff');
    src:  url('../fonts/HankookTTFBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Hankook_L";
    src:  url('../fonts/HankookTTFLight.eot') format('embedded-opentype');
    src:  url('../fonts/HankookTTFLight.ttf') format('truetype');
    src:  url('../fonts/HankookTTFLight.woff') format('woff');
    src:  url('../fonts/HankookTTFLight.woff2') format('woff2');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: "Hankook_M";
    src:  url('../fonts/HankookTTFMedium.eot') format('embedded-opentype');
    src:  url('../fonts/HankookTTFMedium.ttf') format('truetype');
    src:  url('../fonts/HankookTTFMedium.woff') format('woff');
    src:  url('../fonts/HankookTTFMedium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* KR Font Regular*/
@font-face {
    font-family: "Hankook_R_KR";
    src:  url('../fonts/HankookKRTTFRegular.eot') format('embedded-opentype');
    src:  url('../fonts/HankookKRTTFRegular.ttf') format('truetype');
    src:  url('../fonts/HankookKRTTFRegular.woff') format('woff');
    src:  url('../fonts/HankookKRTTFRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}  


body {
    font-family: "Hankook_M", sans-serif, 'Nanum Gothic';
    background: #eee;
}


/* header Area ---------- */
header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 200px;
    /* background: #fff; */
    z-index: 1000;
}
header .inner {
    margin: auto;
    width: 100%;
    max-width: 800px;
    height: 100%;
    margin: auto;
}
header .inner h1{
    position: absolute;
    font-family: "Hankook_B";
    font-size: 32px;
    position: absolute;
    top: 50%;
    transform: translate(0 , -50%);
    color: #222;
}
header .inner h1:hover{
    color: #999;
}
header .inner h1 span{
    font-family: "Hankook_M";
    font-size: 18px;
}
header .inner h1:hover span{
    color: #222;
}


/* menu section area ---------- */
section.fixMenu{
    position: fixed;
    left: calc((100% - 800px) / 2);
    top: 200px;
    width: calc(800px * 0.25);
    height: calc(100vh - 200px);
    z-index: 1000;
}






/* scroll section area ---------- */
section.scrollContents{
    position: absolute;
    top: 200px;
    width: calc(800px * 0.75);
    right: calc((100% - 800px) / 2);
}

section.scrollContents .cont{
    height: 500px;
}

section.scrollContents .cont img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}




/* footer area ---------- */